<h1><strong>Contact Info</strong></h1>

<p class = "center">I can be reached by any of the 
following methods:<br><br>

<table>
  <thead>
    <tr><td>Cell Phone:</td> <td>828-446-9654</td></tr>

<tr><td>Email: </td> <td>david.heien@gmail.com</td></tr>
<tr><td>Mail:</td> <td>2774 Doc Pugh Rd
Connelly Springs, NC 28612</td></tr>