<h1><strong>Contact Info</strong></h1>

<p class = "center">I can be reached by any of the 
following methods:<br><br>

<table>
  <thead>
    <tr><td class = "left">Cell Phone:</td> <td class = "right">828-446-9654</td></tr>
	<tr><td class = "left">Email: </td> <td class = "right">david.heien@gmail.com</td></tr>
	<tr><td class = "left">Mail:</td> <td class = "right">2774 Doc Pugh Rd
	Connelly Springs, NC 28612</td></tr>