<body class = "home"><div class="jumbotron">
  <h1>David Randall Heien</h1>
  <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/070/06a/28a0abe.jpg" style="width:225px;height:250px">
  <br>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
</body>
