<div class ="columns">
	
	<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/070/06a/28a0abe.jpg" style="width:350px;height:350px"><br>

	<div class ="text1"><p>I have lived in North Carolina all my life. I went to college at Western Carolina University. Where I obtained a Bachlors of Science in Business Adminstration with a concetration in Finance in three and half years.<p></div>
	
</div>
</body>
