<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>

      <tr><td class = "no_border"><%= project.name %></td></tr>
      <tr><td class="no_border"><%= image_tag(project.image_url, :width => 300) %></td></tr>
       
    <% end %>
  </tbody>
</table>



