/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-color: #F0F5F5;
	/*background-image: url(http://lorriehess.files.wordpress.com/2012/03/my-story.jpg);
	background-size:cover;*/
}

img {
	margin-top: 17%;
}

.columns{
	column-width: 525px;
	column-gap: 15px;
	column-count: 2;
	column-fill: auto;
	-webkit-column-gap: 15px;
	-webkit-column-count: 3;
	-webkit-column-fill: auto;
	-webkit-column-width: 525px;
	width: 90%;
	max-width: 1100px;
	margin: 25px auto;
}

p{
	font-family: verdana,helvetica,arial,sans-serif;
	text-align: left;
	font-size: 18px;
	color:black;
	padding-top: 50px;
}

h1{
	text-align: center;
}

.item-background{
	background: #D8DCDC;
	border: 2px solid #D8DCDC;
	box-shadow: 0 1px 2px #888888;
	margin: 0 0 15px 75px;
	/*transition: opacity: .4s ease-in-out;
	column-break-inside: avoid;*/
	-webkit-column-break-inside: avoid;
	display: inline-block;
	width: 90%;
	border-radius: 5px;
}

.item-info {
	padding: 15px;
	padding-bottom: 10px;
	padding-top: 0px;
	text-align: center;
	font-size: 15px;
	font-family: Courier;
}

p.center{
	text-align: center;
}

td {
	padding-left: 20px
}

table{
	margin-right: auto;
	margin-left: auto;
}